html,
body {
    height: 370px;
    padding: 0;
    margin: 0;
}

/*Make the map full page*/

#map {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    float: left;
}

/*Nice styling for the containers*/

.nicebox {
    position: absolute;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
    z-index: 5;
    box-shadow: 0 4px 6px -4px #333;
    padding: 5px 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    border: rgb(229, 229, 229) 1px solid;
}

.nicebox2 {
    position: absolute;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
    z-index: 5;
    box-shadow: 0 4px 6px -4px #333;
    padding: 5px 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 100%);
    border: rgb(229, 229, 229) 1px solid;
}

/* Styling for the value + country name box*/

#data-box {
    top: 10px;
    left: 740px;
    height: 65px;
    line-height: 45px;
    display: none;
}

#data-value {
    line-height: 65px;
    font-size: 1.7em;
    font-weight: bold
}

#data-label {
    line-height: 65px;
    font-size: 1.7em;
    font-weight: normal;
    padding-right: 10px;
}

#data-label:after {
    content: ':'
}

/* Styling for the controls and legend box */

#controls {
    top: 10px;
    left: 110px;
    width: 600px;
    height: 65px;
}

#census-variable {
    width: 360px;
    height: 20px;
}

#legend {
    display: flex;
    display: -webkit-box;
    padding-top: 7px
}

/* legend colour styling*/

.color-key {
    background: linear-gradient(to right,
    hsl(5, 69%, 54%) 0%,
    hsl(29, 71%, 51%) 17%,
    hsl(54, 74%, 47%) 33%,
    hsl(78, 76%, 44%) 50%,
    hsl(102, 78%, 41%) 67%,
    hsl(127, 81%, 37%) 83%,
    hsl(151, 83%, 34%) 100%);
    flex: 1;
    -webkit-box-flex: 1;
    margin: 0 5px;
    text-align: left;
    font-size: 1.0em;
    line-height: 1.0em;
}

/* legend caret styling*/

#data-caret {
    margin-left: -5px;
    display: none;
    font-size: 14px;
    width: 14px
}

/* help tooltip styling*/

.help-hover {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.help-hover .help-hover-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.help-hover:hover .help-hover-text {
    visibility: visible;
}

#home-button {
    top: 10px;
    left: 10px;
    width: 65px;
    height: 65px;
    color: black;
}

#info-button {
    float: right;
    top: 10px;
    right: 10px;
    width: 65px;
    height: 65px;
}


#home-button:hover {
    background: #063796;
    color: #FDCC2F;
    border: #063796 1px solid;
}

#info-button:hover {
    background: #063796;
    color: #FDCC2F;
    border: #063796 1px solid;
}


a.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    font-weight: normal;
    text-decoration: none;
    color: initial;
    cursor: pointer;
}

/* removed extra canvas */

#defaultCanvas0 {
    display: none;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    align-items: center;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#info-box-link:link {
    color: #063796;
}

#info-box-link:visited {
    color: #063796;
}

#info-box-link:hover {
    color: #FDCC2F;
    text-decoration: underline;
    cursor: pointer;
}
